body{
font-family:'SourceSansProRegular', Arial, Helvetica, sans-serif;
margin:0;
background:white;
padding:0;
}
header,#header,footer,#footer{
background:rgb(0, 52, 120);
color:white;
}
header,#header{
height:13%;
}
footer,#footer{
height:22%;
}

.content,#content{
width:1050px;
margin:auto;
}
#nav-site{
float:right;
width:50%;
}
#nav-site ul li{
display:inline-block;
}
#nav-site li{
list-style:none;
padding:1%;
;
}

#header img{
width:300px;
height:120px;
}    
#image_scroller{
height:352px;
}
#image-set{
height:100%;
}
#image-set img{
width:100%;
height:97%;
}
#image-banner{
margin-top:-15%;
}
h3{
background-color: rgb(0, 52, 120);
height:5%;
color:white;
font-size:1.6em;
padding:1%;
text-align:center;
}
a{
text-decoration:none;
color:white;
}
ul li a:hover{
color:#EAAB00;
}

